![](../static/scala.jpg)

## Collections

In the previous topic we work with Arrays. An Array is an special kind of collection: corresponds to Java arrays and can be generics (Array[T])

In [1]:
// Print array's elements
val a = Array("Ana", "Maria", "Daniela")
a.foreach(println)

Ana
Maria
Daniela

#### Scala has several classes to work with collections. Most of them are "traversable" and "iterable"
We may divide this set in three subsets:
* Seq
* Set
* Map
> By another hand, some classes comes in two flavours: mutables and inmutables

We will choose some classes:
* Vector
* List
* HashSet (immutable)
* HashMap (immutable)

We also review **tuple**

### Vector and List are Seq
* **Vector** is an IndexedSeq
* **List** is a LinearSeq

In [2]:
// Vector
val v: Vector[Int] = Vector(1,2,3,4,5)
v

Vector(1, 2, 3, 4, 5)

In [3]:
// Accesing elements (first element has index 0)
v(0)

1

In [4]:
// As a collection: map() 
// for example: v -> 3*v+1
v.map(x => 3*x+1)

Vector(4, 7, 10, 13, 16)

In [7]:
// List creation
// list1 and list2 are equal, but list2 was created by prepending elements to the list (Nil is the empty list)
val list1 = List(1,2,3,4,5)
val list2 = 6 :: 2 :: 3 :: 4 :: 5 :: 6 :: list1
list2

List(6, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5)

In [8]:
// There are several useful operations on Lists (similar to other collections)
// To concatenate two lists :::
List(1,3,5) ::: List(9,8,7)

List(1, 3, 5, 9, 8, 7)

In [9]:
// To return the element with a specific index (first element has index 0)
list1(2)

3

In [10]:
// Return the first element of a list
list1.head

1

In [13]:
// Return the rest of element of a list but the first one
// Please notice that: list1 == list1.head :: list2.tail
list1.tail

List(1, 2, 3, 4)

In [14]:
// Return the list without the first two elements (also there are the dropRigth() function)
list1.dropRight(3)

List(1, 2, 3)

In [16]:
// To filter the list: return sublist with elements that fullfils a condition
val list2 = list1.filter(x => x%3==0)

In [17]:
// Make a string with elements of the list
list1.mkString("", "+", "=???")

1+2+3+4+5=???

In [19]:
// Return a transformed list
val listan = list1.map(x => Math.sqrt(x))
listan

List(1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979)

In [20]:
// Execute an action on each element in the list
list1.foreach(x => println(x))

1
2
3
4
5

In [20]:
// Reverse the list
list1.reverse

List(5, 4, 3, 2, 1)

### TO DO

In [23]:
// function to check if a list is a palindrome
def palindrome(list: List[Int]): Boolean = list == list.reverse   //palindrome(List(1,2,1,2,1))

#### There are many other operations on lists ...

### Set and Maps

Set and Map can be mutable or immutable

In [24]:
// Sets
val div3 = Set(0,3,6,9)
val div2 = Set(0,2,4,6,8)

In [26]:
// Contains some element?
div2.contains(2) //div2(3)

true

In [27]:
// Set union
val div2or3 = div3.union(div2) // div3 | div2
div2or3

Set(0, 6, 9, 2, 3, 8, 4)

In [29]:
// Set intersection
val div6 = div3.intersect(div2) // 
div3 & div2 //div6

Set(0, 6)

In [31]:
// Set difference
val div2no3 = div2.diff(div3) // div2 &~ div3
div2no3

Set(2, 8, 4)

In [32]:
// Mutable sets
val mdiv2: collection.mutable.Set[Int] = collection.mutable.Set(0,2,4,6,8)

In [34]:
// Adding elements 
mdiv2 += 10
mdiv2

Set(0, 2, 6, 10, 4, 8)

In [37]:
val s3 = mdiv2 ++ collection.mutable.Set(12, 14, 16)
s3

Set(0, 12, 16, 2, 6, 10, 4, 14, 8)

In [126]:
mdiv2

Set(0, 2, 6, 10, 4, 8)

In [127]:
mdiv2 = collection.mutable.Set(20,22,24)

Name: Unknown Error
Message: <console>:19: error: reassignment to val
       mdiv2 = collection.mutable.Set(20,22,24)
             ^
StackTrace:

In [128]:
mdiv2

Set(0, 2, 6, 10, 4, 8)

In [129]:
// Convert an ordinary set to a sorted-set
val set1 = Set(13, 11, 2, 3, 5, 17, 7)
val set2 = collection.immutable.SortedSet[Int]() ++ set1
set2

TreeSet(2, 3, 5, 7, 11, 13, 17)

In [130]:
// 
set1.toSeq.sorted

ArrayBuffer(2, 3, 5, 7, 11, 13, 17)

### Map

In [38]:
// Map
val roman = Map(1->"I", 2->"II", 3->"III", 4->"IV", 5->"V", 6->"VI", 7->"VII", 8->"VIII", 9->"IX", 10->"X")

In [41]:
roman(5)

In [45]:
roman.get(5)

Some(V)

In [47]:
//println(roman.get(11))
println(roman.getOrElse(15, "???"))

???

In [48]:
roman.contains(15)

false

In [49]:
roman.keys
roman.keys.foreach(x => println(s"$x -> ${roman(x)}"))

5 -> V
10 -> X
1 -> I
6 -> VI
9 -> IX
2 -> II
7 -> VII
3 -> III
8 -> VIII
4 -> IV

### Tuples

In [51]:
// Tuple is another container object 
// Are immutable and can contain different types of elements 
// Fields in a tuple are accessing by: _1, _2, etc
val personData = ("John", "USA", 45, 90000)
personData._3

45

In [138]:
// Number of elements limited to 22: (Tuple1, Tuple2... Tuple22)
println(personData.getClass())

val t23 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23)
t23

class scala.Tuple4

Name: Unknown Error
Message: <console>:2: error: too many elements for tuple: 23, allowed: 22
val t23 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23)
          ^
StackTrace:

In [52]:
// Assigning to variables the tuple elements
val (name, country, age, salary) = personData
name

John

In [53]:
// Iterate over a tuple elements
personData.productIterator.foreach(x => println(x))

John
USA
45
90000